<div class="ui basic segment">
  <div class="ui segment">
    <h4 class="ui header">Progress Note - Proof of Concept</h4>
    <p>For purposes of this proof of concept we will be assuming you're logged into the site as a Therapist and are actively adding a Progress Note for a Client.</p>

  </div>

  <div class="ui center aligned basic segment">
    <h3>Mockup: </h3>
    <img src="/progressnotemock.png" />
  </div>
</div>

